.topBar {
  background-color: #ADD8E6;
  height: 60px;
}
.Title {
  margin-top: -44px;
  left: 16px;
  height: 10px;
  font-family: 'Fira Sans';
  font-size: 25px;
  bottom: 10px;
}
.Support {
  position: absolute;
  margin-top: -24px;
  right: 16px;
  outline: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  outline:none;
  font-family: 'Fira Sans';
  font-size: 15px;
}
body {
  background-color: #3d626e;
}